


/*===========================
    7.FUN FACTS css 
===========================*/





.fun-facts-area{
	background: $theme-color-2;
	padding-top: 406px;
	position: relative;
	z-index: 10;
	@media #{$md} {
		padding-top: 120px;
	}
	@media #{$xs} {
		padding-top: 120px;
	}
	& .fun-facts-shape-1{
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}
	& .fun-facts-shape-2{
		position: absolute;
		left: 0;
		bottom: 145px;
		z-index: -1;
	}
	& .fun-facts-item{
		padding-bottom: 117px;
		position: relative;
		&::before{
			position: absolute;
			content: '';
			right: -15px;
			bottom: 0;
			height: 100%;
			width: 1px;
			background: #765ff2;
			@media #{$md} {
				display: none;
			}
			@media #{$xs} {
				display: none;
			}
		}
		& .icon{
			display: inline-block;
			height: 105px;
			width: 105px;
			text-align: center;
			line-height: 105px;
			background: #ffffff;
			border-radius: 50%;
			position: relative;
			z-index: 10;
			&::before{
				position: absolute;
				content: '';
				left: 50%;
				top: 50%;
				height: 100%;
				width: 100%;
				border-radius: 50%;
				transform: translate(-50%, -50%) scale(0);
				background: $theme-color;
				z-index: -1;
				@include transition(0.3s);
			}
			&::after{
				position: absolute;
				content: '';
				right: 1px;
				top: 1px;
				height: 0px;
				width: 0px;
				border-radius: 50%;
				background: $white;
				opacity: 0;
				@include transition(0.3s);
			}
			& i{
				font-size: 60px;
				color: $theme-color;
				@include transition(0.3s);
			}
		}
		& .title{
			font-size: 60px;
			font-weight: 400;
			color: $white;
			padding-top: 11px;
			& .odometer-formatting-mark{
				display: none;
			}
		}
		& > span{
			color: #d6cffa;
			display: block;
		}
		&:hover{
			& .icon{
				&::before{
					transform: translate(-50%, -50%) scale(1);
				}
				&::after{
					opacity: 1;
					height: 20px;
					width: 20px;
				}
				& i{
					color: $black;
				}
			}
		}
		&.last-item{
			&::before{
				display: none;
			}
		}
	}
	&.fun-facts-about-area{
		padding-top: 120px;
		overflow: hidden;
		& .fun-facts-shape-1{
			width: 22%;
		}
	}
}