// Font Family
$abril: 'Abril Fatface', cursive;
$roboto: 'Roboto', sans-serif;


// Colors ---------------
$white: #fff;

$black: #222;

$grey:#f7f7fd;

$theme-color: #3DA0AD;
$theme-color-2: #674df0;

$text-color: #838694;

$hr-border-color:#eceff8;


// Heading Color
$heading-color: #1b1f2e;

// Soft color
$black-soft:#838694;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


